<!-- <div style="display: block">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            >
    </canvas>
  </div>
<div>
 <canvas id="myChart"></canvas>
</div> -->

<!-- <div>

  <canvas id="stackedAreaChart" ></canvas>
</div> -->


<canvas baseChart
[datasets]="barChartData"
[labels]="barChartLabels"
[options]="barChartOptions"
[legend]="barChartLegend"
></canvas>
.